<header>
  <a href="{{ site.baseurl }}/" class="site-title">
    <h1>
      <svg width="96" height="96">
        <image xlink:href="/assets/img/logo.svg" src="/assets/img/logo.png" width="96" height="96" />
      </svg>
      <span class="slogan">make love, </span><span>{{ site.title }}</span>
    </h1>
  </a>

    <nav class="site-nav">
      <!-- 
      <div class="trigger">
        {% for page in site.pages %}{% if page.title %}
          <a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
          {% endif %}{% endfor %}
      </div> -->
    </nav>

</header>
